.about{
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.about > div{
    font-weight: 400px;
}

.about_text > h1{
    margin-bottom: 20px;
}

.about_text{
    margin: 10px;
}

.about_text > p{
    margin-bottom: 15px;
}

.about__image{
    margin: 10px;
    width: 600px;
    /* height: 600px; */
    object-fit: contain;
}

