.about{
    padding: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about > div{
    font-weight: 400px;
}

.about_text > h1{
    margin-bottom: 50px;
    font-size: 40px;
}

.about_text{
    margin: 10px;
    width: 40%;
    line-height: 2.5em; 
}

.about_text > p{
    margin-bottom: 30px;
}

.about__image{
    margin: 10px;
    width: 600px;
    /* height: 600px; */
    object-fit: contain;
}

