.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.banner::before{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url(../assets/img/christina.png);
    background-size: cover;
    background-position: center;
    opacity: 0.25;
}


.banner__info{
    position: relative;
    text-align: center;
    color: #f3f3f3;
    line-height: 2.5em;
}

h1{
    font-size: 40px;
}

.banner__info > div{
    margin-top: 10px;
}

.banner__button{
    margin: 10px;
    padding: 10px 40px;
    background-color: #FF220C;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5%;
    cursor: pointer;
}

