
.joinUsItem{
    align-items: center;
    border: solid rgba(0, 0, 0, 0);
    text-align: center;
}



.joinUsItem__icon{
    font-size: 60px !important;
    
}

.joinUsItem__text{
    font-size: small;
    font-weight: bold;
}
