
.readyJoin{
    margin: 10px;
    padding: 20px;
}

.readyJoin__button{
    padding: 10px 40px;
    background-color: #FF220C;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5%;
    cursor: pointer;
    margin-top: 20px;
}