.teamMemberItem{
    text-align: center;
    margin: auto;
}


.teamMemberItem__img{
    width: 50%;
}

.teamMemberItem__name{
    font-weight: bold;
}


.teamMemberItem__nation{
    font-size: small;
}