.btn{
    padding: 10px 40px !important;
    background-color: #FF220C !important;
    border: none !important;
    color: #fff !important;
    font-weight: bold !important;
    border-radius: 5% !important;
    cursor: pointer !important;
    margin-top: 20px !important;
}

.display-7 {
    font-weight: bold;
}

.display-5 {
    font-weight: bold;
}